CormorantGaramond-Medium.otf filter=lfs diff=lfs merge=lfs -text
CormorantUpright-SemiBold.otf filter=lfs diff=lfs merge=lfs -text
UnBPro_Bold.otf filter=lfs diff=lfs merge=lfs -text
CormorantGaramond-MediumItalic.otf filter=lfs diff=lfs merge=lfs -text
CormorantGaramond-SemiBoldItalic.otf filter=lfs diff=lfs merge=lfs -text
CormorantUpright-Light.otf filter=lfs diff=lfs merge=lfs -text
UnBPro_Black.otf filter=lfs diff=lfs merge=lfs -text
UnBPro_BoldItalic.otf filter=lfs diff=lfs merge=lfs -text
UnBPro_Light.otf filter=lfs diff=lfs merge=lfs -text
**.ttf filter=lfs diff=lfs merge=lfs -text
**.eot filter=lfs diff=lfs merge=lfs -text
CormorantGaramond-Light.otf filter=lfs diff=lfs merge=lfs -text
CormorantGaramond-Regular.otf filter=lfs diff=lfs merge=lfs -text
CormorantUpright-Medium.otf filter=lfs diff=lfs merge=lfs -text
**.woff2 filter=lfs diff=lfs merge=lfs -text
CormorantGaramond-SemiBold.otf filter=lfs diff=lfs merge=lfs -text
UnBPro_Italic.otf filter=lfs diff=lfs merge=lfs -text
UnBPro_Regular.otf filter=lfs diff=lfs merge=lfs -text
**.woff filter=lfs diff=lfs merge=lfs -text
CormorantGaramond-Italic.otf filter=lfs diff=lfs merge=lfs -text
CormorantGaramond-LightItalic.otf filter=lfs diff=lfs merge=lfs -text
